<div
  class="tw-border-b tw-h-16 tw-shadow tw-border-gray-300 tw-relative tw-flex tw-items-center tw-bg-[#233452] tw-sticky tw-top-0 tw-z-[3]"
>
  <img
    src="..\..\assets\images\mycirclelogo.svg"
    class="tw-ml-5 tw-mr-2 tw-w-[3%]"
  />
  <span
    class="tw-text-2xl tw-font-bold tw-antialiased tw-tracking-tighter tw-text-white"
    >Rotations&Reflections
  </span>
  <span class="tw-font-logo tw-text-white tw-ml-4 tw-text-2xl tw-font-thin"
    >orthogonal matrices representation
  </span>
  <div class="tw-flex tw-flex-row tw-gap-10 tw-absolute tw-right-[100px]">
    <div class="tw-flex tw-group tw-relative">
      <button routerLink="/matrix-lab" class="tw-shadow tw-shadow-white">
        <img
          src="../assets/images/mytrianglebutton.svg"
          class="tw-w-[20px] tw-rotate-90"
        />
      </button>
      <span
        class="group-hover:tw-opacity-100 tw-transition-opacity tw-bg-gray-200 tw-px-1 tw-text-xs tw-text-black tw-rounded-md tw-absolute tw-left-1/2 -translate-x-1/2 tw-translate-y-full tw-opacity-0 tw-m-4 tw-mx-auto"
        >MatrixLab</span
      >
    </div>
    <div class="tw-flex tw-group tw-relative">
      <button routerLink="/exploring-symmetries" class="tw-shadow tw-shadow-white">
        <img src="../assets/images/triangle.svg" class="tw-w-[20px] tw-rotate-90" />
      </button>
      <span
        class="group-hover:tw-opacity-100 tw-transition-opacity tw-bg-gray-200 tw-px-1 tw-text-xs tw-text-black tw-rounded-md tw-absolute tw-left-1/2 -translate-x-1/2 tw-translate-y-full tw-opacity-0 tw-m-4 tw-mx-auto"
        >Symmetries</span
      >
    </div>
    <div class="tw-flex tw-group tw-relative">
      <button routerLink="/kolakoski-dance" class="tw-shadow tw-shadow-white">
        <img
          src="../assets/images/kolakoski_triangle.svg"
          class="tw-w-[20px] tw-rotate-90"
        />
      </button>
      <span
        class="group-hover:tw-opacity-100 tw-transition-opacity tw-bg-gray-200 tw-px-1 tw-text-xs tw-text-black tw-rounded-md tw-absolute tw-left-1/2 -translate-x-1/2 tw-translate-y-full tw-opacity-0 tw-m-4 tw-mx-auto"
        >Kolakoski</span
      >
    </div>
  </div>
</div>
